   {% extends "base.html" %}

  {% block title %}Моя корзина{% endblock %}

  {% block content %}
    <div class="container">
      <div class="row">
        <div class="col-lg-8">
          <h4>Товары в корзине </h4><hr>
          <table class="table">
            <thead>
              <th>СН</th>
              <th>Товар</th>
              <th>Цена</th>
              <th>Кол-во</th>
              <th>Пром резултат</th>
              <th>Действия</th>
            </thead>
            <tbody>
              {% for cp in cart.cartproduct_set.all %}
                <tr>
                  <td>{{forloop.counter}}</td>
                  <td>{{cp.product.title}}</td>
                  <td>{{cp.rate}}</td>
                  <td>{{cp.quantity}}</td>
                  <td>{{cp.subtotal}}</td>

                  <td class="col-md-8">
                    <a href="{% url 'goods:manage_cart' cp.id %}?action=inc" class="btn btn-primary">+</a>
                    <a href="{% url 'goods:manage_cart' cp.id %}?action=dcr" class="btn btn-warning">-</a>
                    <a href="{% url 'goods:manage_cart' cp.id %}?action=rmv" class="btn btn-danger">*</a>
                  </td>
                </tr>
              {% endfor %}
              <tr>
                <th colspan="5">Общая стоимость</th>
                <th>$ {{cart.total}}</th>
                {% if cart.cartproduct_set.all %}
                <th><a href="{% url 'goods:empty_cart' %}">Пустая Корзина</a></th>
                {% endif %}
              </tr>
              {% if cart.cartproduct_set.all %}
              <tr>
                <th><a class="btn btn-info" href="{% url 'goods:check_out' %}">Проверка</a></th>
              </tr>
              {% endif %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
{% endblock %}
