  {% extends "base.html" %}

  {% block title %}Регистрация покупателя {% endblock %}

  {% block content %}
    <style>
      .errorlist{
        color: red;
      }
    </style>
    <div class="container">
      <div class="row">
        <div class="col-md-6 mx-auto">
            <h3>Форма регистрации покупателя</h3><hr>
            <form action="" method="POST">
              {% csrf_token %}
              {{form.as_p }}
              <button class="btn btn-primary" type="submit" name="registration">Регистрация пользователя</button>
            </form>
            <br>
            <p> уже есть аккаунт? <a href="{% url 'goods:login' %}"> Вход в систему</a></p>
        </div>
      </div>
    </div>
{% endblock %}
